/***********************/
/* Header */
/***********************/

/* .header {
  height: 2rem;
} */

/***********************/
/* Intro */
/***********************/

.game-title-bg-1 {
  background-image: url(../img/bg/pokemon-title-background-1.png);
}

.pokemon-title {
  background: url(../img/logo/pokemon-logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 50rem;
  height: 100%;

  position: absolute;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
}

.round-robin-title,
.choose-player-title {
  font-family: "Pocket Monk";
  font-size: 12rem;
  color: #ffcb05;
  -webkit-text-stroke: 0.7rem #0d508d;
  text-shadow: 2px 8px 10px #000;
  letter-spacing: 8px;

  position: absolute;
  width: 100dvw;
  text-align: center;
}

.round-robin-title {
  top: 25%;
}

.pokemon-char-intro-bg,
.pokemon-trainer-intro-bg {
  z-index: 2;
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pokemon-char-intro-bg {
  bottom: 9%;
}

.treeko-bg-cont {
  bottom: 7% !important;
}

.treeko-img,
.treeko-bg-cont {
  height: 18rem;
  left: 20%;
}

.torchic-img,
.torchic-bg-cont {
  height: 14rem;
  left: 48%;
}

.mudkip-img,
.mudkip-bg-cont {
  height: 14rem;
  right: 20%;
}

/***********************/
/* Choose Player */
/***********************/

.game-title-bg-2 {
  background-image: url(../img/bg/pokemon-title-background-2.png);
}

.choose-player-title {
  top: 5%;
}

.brendan-img,
.may-img {
  height: 20rem;
}

.select-male-img,
.select-female-img {
  width: 14rem;
  height: 14rem;
}

.brendan-bg-cont,
.may-bg-cont {
  bottom: 4% !important;
}

.brendan-bg-cont {
  right: 16%;
}

.select-male-cont {
  right: 20%;
}

.may-bg-cont {
  left: 20%;
}

.select-female-cont {
  left: 20%;
}

.title-trainer-name {
  font-size: 2rem;
}

.title-trainer-name {
  text-align: center;
  margin-top: 1rem;
  font-weight: 600;
  color: #fff;

  letter-spacing: 0.8rem;
}

.select-trainer-btn {
  padding: 4rem;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.1s ease, box-shadow 0.2s ease;
}

.select-trainer-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}

.select-trainer-btn:active {
  transform: scale(0.95);
}

.select-trainer-btn.male {
  border: 0.5rem solid #8cacd6;
}

.select-trainer-btn.male:hover {
  border: 1rem solid #8cacd6;
}

.select-trainer-btn.female {
  border: 0.5rem solid #f8b9d4;
}

.select-trainer-btn.female:hover {
  border: 1rem solid #f8b9d4;
}

.select-male-cont,
.select-female-cont {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
}

/***********************/
/* Choose Pokemon */
/***********************/

.game-title-bg-3 {
  background-image: url(../img/bg/pokemon-title-background-3.png);
}

.carousel {
  height: auto;
  width: 80dvw;
  position: absolute;
  bottom: -50%;
  transform: translateY(-50%);
  margin: 0 auto;
}

.carousel-indicators {
  margin-top: 2rem;
}

.pokemon-select-cont {
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 10rem;

  text-decoration: none;

  cursor: default;
}

.pokemon-selection-img {
  height: 20rem;
}

.pokemon-select-description {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  background-color: rgba(35, 32, 85, 0.9);
  border-radius: 20px;
  height: 100%;

  padding: 3rem;
}

.pokemon-selection-name {
  font-family: "Pocket Monk";
  letter-spacing: 11px;
  color: #ffcb05;
  -webkit-text-stroke: 0.2rem #0d508d;
  font-size: 6rem;
}

.pokemon-description {
  color: #fff;

  font-size: 2rem;
}

.select-pokemon-btn {
  bottom: 5% !important;
}

.carousel-control .carousel-control-next-icon {
  font-size: 20rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #000;
  border-radius: 50%;

  transform: scale(4);
}

/***********************/
/* Battle Setting */
/***********************/

.game-battle-setting-bg {
  background-image: url(../img/bg/game-setting-bg.png);
  display: flex;
  justify-content: center;
  align-items: center;
}

.setting-cont {
  background-color: rgba(255, 255, 255, 0.7);
  width: 60dvw;
  padding: 6rem 3rem;

  border-radius: 23px;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.setting-label {
  font-size: 3.2rem;
  font-weight: 800;
}

.setting-btn-cont {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 4rem;
}

.setting-btn:active {
  transform: translateY(5px);
  box-shadow: 0px 2px 4px 3px rgba(0, 0, 0, 0.1);
}

/***********************/
/* Battle */
/***********************/

.game-battle-bg {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url("/img/bg/battle-template-1.jpg");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.game-grid {
  display: grid;
  grid-template-columns: 0.1fr repeat(3, 1fr) 0.1fr;
  grid-template-rows: 0.1fr repeat(4, 1fr) 0.1fr;
}

.round-cont {
  grid-column: 2/3;
  grid-row: 2/3;
}

.round-text {
  font-size: 10rem;
  letter-spacing: 5px;
}

.player-pokemon-cont {
  grid-column: 2/4;
  grid-row: 3/5;

  display: flex;
  justify-content: flex-start;
  gap: 6rem;
  /* margin-left: 10rem; */

  /* display: none; */
}

.opponent-pokemon-cont {
  grid-column: 3/5;
  grid-row: 2/4;

  display: flex;
  justify-content: flex-end;
  gap: 6rem;
  /* margin-right: 10rem; */
}

.player-pokemon-img-cont,
.opponent-pokemon-img-cont {
  align-self: flex-end;
  position: relative;

  display: flex;
  flex-direction: column;
}

.player-pokemon-img,
.opponent-pokemon-img {
  z-index: 2;
  /* width: 50%; */

  position: absolute;
}

.player-pokemon-img {
  height: 24rem;

  bottom: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.opponent-pokemon-img {
  height: 16rem;

  bottom: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.pokemon-floor {
  width: 20dvw;

  z-index: 0;
}

.player-pokemon-stat-cont {
  height: auto;
  width: 20dvw;
  align-self: center;

  background-color: rgba(200, 200, 200, 0.9);
  border: 3px solid #2d5a27;
  border-radius: 11px;

  padding: 2rem;
}

.pokemon-battle-name {
  font-size: 2rem;
  margin-bottom: 4rem;
}

.pokemon-description-value,
.pokemon-battle-stat {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.pokemon-description-value {
  font-weight: 700;
}

/* .player-pokemon-stat-cont p:last-child {
  margin-bottom: 10rem;
} */

.battle-btn-post {
  z-index: 5;
  width: 100%;
  height: 100%;
  grid-column: 3/5;
  grid-row: 5/6;
  justify-self: end;
  align-self: end;

  border: 5px solid #0d508d;
  border-radius: 11px;
  background-color: #aaaaaae6;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.battle-btn-cont {
  display: grid !important;
  grid-template-columns: 0.15fr 1fr 0.15fr 1fr 0.15fr;
  grid-template-rows: 0.3fr 1fr 0.3fr 1fr 0.3fr;
  justify-content: center;
  align-items: center;
}

.battle-btn,
.battle-btn-score {
  width: 100%;
  height: 100%;
  font-size: 3.2rem;

  border-radius: 7px;

  box-shadow: 0 2px 4px 4px rgba(0, 0, 0, 0.09);

  transition: all 0.1s ease-in-out;
}

.battle-btn:hover,
.battle-btn-score:hover {
  background-color: #ddd;
}

.battle-btn:active,
.battle-btn-score:active {
  transform: translateY(5px);
  box-shadow: none;
}

.battle-btn-a {
  grid-column: 2/3;
  grid-row: 2/3;
}

.battle-btn-d {
  grid-column: 4/5;
  grid-row: 2/3;
}

.battle-btn-p {
  grid-column: 2/3;
  grid-row: 4/5;
}

.battle-btn-s {
  grid-column: 4/5;
  grid-row: 4/5;
}

/***********************/
/* Score Modal */
/***********************/

.score-modal-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 10;
}

.score-modal-cont {
  background-color: #0d508d;
  border: 5px solid red;
  border-radius: 11px;
  padding: 2rem;

  height: auto;
  width: 50dvw;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.top-rank-crown {
  height: 1.6rem;
  padding-right: 2rem;
}

.score-modal-content {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}

.score-title {
  font-size: 4rem;
  -webkit-text-stroke: 0.1rem #0d508d;
  letter-spacing: 5px;
  margin-bottom: 2rem;
}

.score-message,
.score-header {
  font-size: 1.6rem;
}

.score-message {
  margin-top: 3rem;
  color: #ddd;
}

thead {
  color: #999;
  margin-bottom: 7rem;
}

td,
.table-rank-text {
  font-size: 1.2rem;
  color: #fff;
  letter-spacing: 3px;
  font-weight: 400;
}

.table-name-data-cont {
  display: flex;
  justify-content: space-between;
}

.score-col {
  width: 2.4rem !important;
}

.play-again-btn {
  width: max-content;
  margin: 0 auto;
  padding: 1.5rem 3rem;
  border-radius: 11px;
  font-size: 1.4rem;
  margin-bottom: 1rem;

  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.3);

  transition: all 0.1s ease-in-out;
}

.score-close-btn {
  width: fit-content;
  height: fit-content;
  font-weight: bold;

  padding: 0.5rem 0.75rem;
  border-radius: 7px;

  position: absolute;
  right: 1.5rem;
  top: 1.5rem;

  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.3);
}

.play-again-btn:hover,
.score-close-btn:hover {
  background-color: #ccc;
}

.play-again-btn:active,
.score-close-btn:active {
  transform: translateY(5px);
  box-shadow: none;
}
